<div id="<%= dom_id winemaker %>">
  <p>
    <strong>Name:</strong>
    <%= winemaker.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= winemaker.age %>
  </p>

  <p>
    <strong>Nationality:</strong>
    <%= winemaker.nationality %>
  </p>

</div>
