<h1>Editing winemaker</h1>

<%= render "form", winemaker: @winemaker %>

<br>

<div>
  <%= link_to "Show this winemaker", @winemaker %> |
  <%= link_to "Back to winemakers", winemakers_path %>
</div>
