<h1>Editando la Cepa</h1>
  <div class="shadow-lg p-3 mb-5 bg-gray rounded">
    <%= render "form", strain: @strain %>
    <hr>
    <div>
      <!-- % = link_to "Show this strain", @strain %  -->
      <%= link_to "Volver", strains_path %>
    </div>
  </div>
